.nost-box {
  padding-left: 60px;
  padding-right: 60px;

  padding-top: 48px;
  padding-bottom: 48px;

  background-color: white;

  border-radius: 6px;

  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
  }
}